# Documentación :  ABC Corporation
# Análisis de Datos para Retener y Potenciar Empleados  



- **Fase 1: Análisis Exploratorio de Datos(EDA).**  
______________________________________________________

Exploración de archivo incial  hr_raw_data_final.csv



- **Fase 2: Transformación de los datos.** 
___________________________________________

1.- Cada vez que se accede al archivo, se ejecutan 4 funciones para actualizar, limpiar y cambiar datos segun se detalla:


- **1.1.- Función limpieza de datos.**

Limpia el Dataframe eliminando duplicados y normalizando el texto.
Elimina filas duplicadas
Convierte todos los valores de las columnas a minusculas
Elimina espacios en blanco al inicio y final.

Las columnas afectadas actualmente por esta función son:
 
`Employeenumber`: Se han suprimido 64 registros duplicados, ya que representaban empleados con información idéntica en todas las columnas.
`Employeecount`:  Columna eliminada, es un conteo de empleados con el valor 1 en cada fila de la columna. No aporta, es reiterativa, se puede contar con la columna 'Employeenumber'.
`Sameasmonthlyincome`:  Columna eliminada al ser igual que columna Monthlyincome
`Roledepartament`, `Jobrole`, `Departament`: Eliminación de espacios innecesarios al inicio y final



-**1.2.- Función cambio de tipo de datos**

Elimina el símbolo `$` y reemplaza las comas `,` por puntos `.` en los valores.
Convierte los valores resultantes de tipo `object`  a tipo `float`.
Si el valor es `NaN`, lo conserva como `np.nan`.

Las columnas afectadas actualmente por esta función son:

`Roledepartament`, `Jobrole`, `Departament`: Conversión/Transformación del texto completo a minúscula

`Monthlyincome` `Monthlyrate`, `Salary`, `Performancerating`, `Worklifebalance`, `Yearsincurrentrole`: Cambio de tipo object a tipo float, eliminación del simbolo $.  



**1.3.- Función actualizar `age`**

Calcula la edad de una persona basada en el año de nacimiento utilizando el año actual para el cálculo


**1.4.- Función actualizar nulos**

Actualiza valores nulos en la columna `Monthlyincome``Monthlyincome` con el resultado de dividir `Salary` entre 12 
Actualiza valores nulos en la columna `Salary` con el resultado de multiplicar `Monthlyincome` por 12 







2.- Cambio y limpieza de datos sin funciones: 


`Gender`Se unifica la información, sustituyendo los valores '0' por 'M' y '1' por 'F'
`Numberchildren`:  Columna eliminada al no tiene datos. 
`Over18`:  Columna eliminada, todos los empleados son mayores de 18 años 

`Distancefromhome`Cambio de datos negativos a positivos  
`Maritalstatus` Error tipográfico modificado marreid -> married  
`Remotework` Unificación de datos : 0-> no, 1 -> si, True-> si, False-> no 
`Businesstravel` Cambio de datos : NaN -> non-travel 
`Environmentsatisfaction` Cambio tipo a str para unificar datos del 1 al 4 y conversion final a int.
`Remotework` Unificacón de datos 0 -> no, 1-> si, True-> si, False->no

  
no localizo este cambio en ni en main ni en eda. en la función de cambio de tipo no hay redondeo.
- Limitar decimales (2) todas las que sean de tipo float 
    dailyrate, hourlyrate el redondeo de dato esta en la forma




______________________________________________________________