In [1]:

# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# ------------------------------------------------------------------------------
import scipy.stats as stats
from scipy.stats import chi2_contingency, ttest_ind

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('../archivos/ABCcorporation2024.csv', index_col=[0])
df.head()

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,datebirth,salary,roledepartament,remotework
0,52,no,non-travel,2015.722222,NaN,6,3,NaN,1,1,M,NaN,3,5,research director,3,NaN,16280.83,42330.17,7,no,13,3.0,3,full time,0,NaN,5,3.0,20,NaN,15,15,1972,195370.00,NaN,NaN
1,53,no,non-travel,2063.388889,NaN,1,4,life sciences,2,3,M,NaN,2,5,manager,3,NaN,16665.83,43331.17,0,NaN,14,3.0,1,NaN,1,34.0,5,3.0,33,NaN,11,9,1971,199990.00,NaN,si
2,43,no,travel_rarely,1984.253968,research & development,4,2,technical degree,3,3,M,NaN,3,5,manager,4,married,16026.67,41669.33,1,no,11,3.0,4,NaN,0,22.0,3,NaN,22,NaN,11,15,1981,192320.00,manager - research & development,si
3,48,no,travel_rarely,1771.404762,NaN,2,4,medical,4,1,F,NaN,3,4,research director,3,married,14307.50,37199.50,3,NaN,19,3.0,2,full time,2,NaN,2,NaN,20,NaN,5,6,1976,171690.00,NaN,NaN
4,47,no,non-travel,1582.771346,NaN,3,3,technical degree,5,1,F,NaN,4,4,sales executive,1,divorced,12783.92,33238.20,2,no,12,3.0,4,NaN,1,NaN,5,3.0,19,NaN,2,8,1977,153407.04,NaN,no

In [3]:
# Informacion general 
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1614 entries, 0 to 1613
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       1614 non-null   int64
 1   attrition                 1614 non-null   object
 2   businesstravel            1614 non-null   object
 3   dailyrate                 1614 non-null   float64
 4   department                302 non-null    object
 5   distancefromhome          1614 non-null   int64
 6   education                 1614 non-null   int64
 7   educationfield            869 non-null    object
 8   employeenumber            1614 non-null   int64
 9   environmentsatisfaction   1614 non-null   int64
 10  gender                    1614 non-null   object
 11  hourlyrate                404 non-null    float64
 12  jobinvolvement            1614 non-null   int64
 13  joblevel                  1614 non-null   int64
 14  jobrole                   1614 non-null   object
 15  jobsatisfaction           1614 non-null   int64
 16  maritalstatus             963 non-null    object
 17  monthlyincome             1614 non-null   float64
 18  monthlyrate               1614 non-null   float64
 19  numcompaniesworked        1614 non-null   int64
 20  overtime                  938 non-null    object
 21  percentsalaryhike         1614 non-null   int64
 22  performancerating         1419 non-null   float64
 23  relationshipsatisfaction  1614 non-null   int64
 24  standardhours             1276 non-null   object
 25  stockoptionlevel          1614 non-null   int64
 26  totalworkingyears         1088 non-null   float64
 27  trainingtimeslastyear     1614 non-null   int64
 28  worklifebalance           1506 non-null   float64
 29  yearsatcompany            1614 non-null   int64
 30  yearsincurrentrole        34 non-null     float64
 31  yearssincelastpromotion   1614 non-null   int64
 32  yearswithcurrmanager      1614 non-null   int64
 33  datebirth                 1614 non-null   int64
 34  salary                    1614 non-null   float64
 35  roledepartament           302 non-null    object
 36  remotework                669 non-null    object
dtypes: float64(9), int64(17), object(11)
memory usage: 479.2+ KB

In [ ]:
# Nulos
nulos= df.isnull().sum()

# % Nulos
print(f'% Nulos: {(nulos/df.shape[0]*100).round(2)}')

% Nulos: age                          0.00
attrition                    0.00
businesstravel               0.00
dailyrate                    0.00
department                  81.29
distancefromhome             0.00
education                    0.00
educationfield              46.16
employeenumber               0.00
environmentsatisfaction      0.00
gender                       0.00
hourlyrate                  74.97
jobinvolvement               0.00
joblevel                     0.00
jobrole                      0.00
jobsatisfaction              0.00
maritalstatus               40.33
monthlyincome                0.00
monthlyrate                  0.00
numcompaniesworked           0.00
overtime                    41.88
percentsalaryhike            0.00
performancerating           12.08
relationshipsatisfaction     0.00
standardhours               20.94
stockoptionlevel             0.00
totalworkingyears           32.59
trainingtimeslastyear        0.00
worklifebalance              6.69
yearsatcompany               0.00
yearsincurrentrole          97.89
yearssincelastpromotion      0.00
yearswithcurrmanager         0.00
datebirth                    0.00
salary                       0.00
roledepartament             81.29
remotework                  58.55
dtype: float64

In [6]:
# principales estadisticos var numericas 
display(df.describe().T.round(2))

,count,mean,std,min,25%,50%,75%,max
age,1614.0,37.92,9.10,19.00,31.00,37.00,44.00,61.00
dailyrate,1614.0,669.63,472.35,104.10,290.04,556.26,967.31,2063.39
distancefromhome,1614.0,11.14,10.45,1.00,2.00,8.00,17.00,49.00
education,1614.0,2.93,1.02,1.00,2.00,3.00,4.00,5.00
employeenumber,1614.0,807.50,466.07,1.00,404.25,807.50,1210.75,1614.00
environmentsatisfaction,1614.0,2.69,1.11,1.00,2.00,3.00,4.00,4.00
hourlyrate,404.0,83.04,57.55,13.01,36.25,69.53,114.16,255.96
jobinvolvement,1614.0,2.74,0.71,1.00,2.00,3.00,3.00,4.00
joblevel,1614.0,2.07,1.10,1.00,1.00,2.00,3.00,5.00
jobsatisfaction,1614.0,2.74,1.11,1.00,2.00,3.00,4.00,4.00
monthlyincome,1614.0,5628.76,5669.07,909.17,2342.59,4492.84,7920.20,94083.00
monthlyrate,1614.0,14062.24,9919.42,2186.17,6090.75,11681.39,20313.58,43331.17
numcompaniesworked,1614.0,2.67,2.51,0.00,1.00,2.00,4.00,9.00
percentsalaryhike,1614.0,15.17,3.65,11.00,12.00,14.00,18.00,25.00
performancerating,1419.0,3.15,0.36,3.00,3.00,3.00,3.00,4.00
relationshipsatisfaction,1614.0,2.70,1.08,1.00,2.00,3.00,4.00,4.00
stockoptionlevel,1614.0,0.79,0.84,0.00,0.00,1.00,1.00,3.00
totalworkingyears,1088.0,11.32,7.73,0.00,6.00,10.00,15.00,40.00
trainingtimeslastyear,1614.0,2.81,1.30,0.00,2.00,3.00,3.00,6.00
worklifebalance,1506.0,2.76,0.70,1.00,2.00,3.00,3.00,4.00
yearsatcompany,1614.0,7.13,6.12,0.00,3.00,5.00,9.00,40.00
yearsincurrentrole,34.0,4.03,3.62,0.00,2.00,2.00,6.75,13.00
yearssincelastpromotion,1614.0,2.25,3.24,0.00,0.00,1.00,3.00,15.00
yearswithcurrmanager,1614.0,4.22,3.56,0.00,2.00,3.00,7.00,17.00
datebirth,1614.0,1986.08,9.10,1963.00,1980.00,1987.00,1993.00,2005.00
salary,1614.0,65588.43,52737.83,10090.00,28111.13,53914.11,94205.00,1118004.00

In [7]:
# principales estadisticos var categoricas
display(df.describe(include = "object").T.round(2))

                count unique                        top  freq
attrition        1614      2                         no  1355
businesstravel   1614      3                 non-travel   863
department        302      3     research & development   196
educationfield    869      6              life sciences   349
gender           1614      2                          M   971
jobrole          1614      9            sales executive   369
maritalstatus     963      3                    married   439
overtime          938      2                         no   682
standardhours    1276      2                  part time   888
roledepartament   302     11  sales executive  -  sales    69
remotework        669      2                         si   360

# Hipótesis 1: Relación entre la satisfacción en el trabajo y la rotación de empleados ✨
- EnvironmentSatisfaction 
Ver la relacion entre ambas (lineal o no lineal) -> grafico de regresion y correlacion de pearson (lineal) o correlacion de spearman (no lineal) para cuantificar la relación entre ambas

# Hipótesis 4: Relación entre la edad/genero-la rotación de empleados ✨
Ver distribucion de la rotacion de empleados por genero e incluir la edad